@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  box-sizing: border-box;
}

body {
  background: url("src/img/bg.png"), #111;
  background-repeat: no-repeat;
  font-family: "Inter", sans-serif;
  background-size: cover;
  background-position: center;
  max-height: 100dvh;
  height: 100dvh;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  margin: 0;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
}

.container-kk {
  display: flex;
  justify-content: center;
  width: 100%;
}

.card {
  width: 540px;
  background: url("src/img/grain.png"),
    linear-gradient(24deg, rgba(255, 255, 255, 0.031), rgba(0, 0, 0, 0.071));
  backdrop-filter: blur(0.4rem);
  border-radius: 15px;
  border-top: solid 1px rgba(255, 255, 255, 0.039);
  border-right: solid 1px rgba(255, 255, 255, 0.039);
  border-bottom: solid 1px rgba(255, 255, 255, 0.039);
  border-left: solid 1px rgba(255, 255, 255, 0.039);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  -webkit-backdrop-filter: blur(0.4rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.p-20 {
  padding: 20px;
}

.divider {
  height: 1px;
  width: 100%;
  background: rgba(255, 255, 255, 0.039);
}

.logo {
  width: 150px;
  height: auto;
}

.content {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 12.5px;
  align-items: center;

  .gradient {
    background: linear-gradient(
      90deg,
      rgba(73, 252, 195, 1),
      rgba(73, 252, 195, 0.51)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
  }

  .subText {
    font-weight: 300;
    font-size: 12px;
    padding: 5px 10px;
    border: 1px solid rgba(73, 252, 195, 0.2);
    box-shadow: 0 0 10px rgba(73, 252, 195, 0.1);
    border-radius: 15px;
    color: #fff;
    background: linear-gradient(
      140deg,
      rgba(0, 0, 0, 0.071),
      rgba(255, 255, 255, 0.071)
    );
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 5px;

    .md {
      font-size: 16px;
      color: rgba(73, 252, 195, 1);
    }
  }

  .mainTitle {
    font-weight: 500;
    letter-spacing: -0.5px;
    font-size: 34px;
    line-height: 34px;
    text-align: center;
  }

  .mainTitle-2 {
    font-weight: 500;
    letter-spacing: -0.5px;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 15px;
  }

  .desc {
    font-size: 14px;
    text-align: center;
    font-weight: 200;
    padding: 0 35px;
    opacity: 0.75;
  }

  .btn-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    width: 100%;
    justify-content: center;
  }
  .btn-main {
    padding: 5px 10px 5px 15px;
    background: linear-gradient(
        180deg,
        rgba(73, 252, 195, 1),
        rgba(73, 252, 195, 0.51)
      ),
      #000;
    outline: 1px solid rgba(73, 252, 195, 0.72);
    text-shadow: 0 0 5px #49fcc3, 0 0 10px #49fcc3, 0 0 20px #49fcc3;
    color: #fff;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    font-weight: 400;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(73, 252, 195, 0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    gap: 5px;
    transition: 0.5s ease;
    .md {
      text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
      transform: rotate(-45deg);
      font-size: 20px;
    }
  }
  .btn-main:hover {
    transition: 0.5s ease;
    filter: brightness(1.1);
  }
  .btn-main:active {
    transition: 0.5s ease;
    filter: brightness(0.8);

    .md {
      transform: rotate(0);
    }
  }
  .btn-sec {
    padding: 5px 10px 5px 15px;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    );
    outline: 1px solid #888;
    color: #fff;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    font-weight: 500;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: inset -1px -1px 5px rgba(255, 255, 255, 0.25);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    gap: 5px;
    transition: 0.5s ease;
  }
  .btn-sec:hover {
    transition: 0.5s ease;
    filter: brightness(1.1);
  }
  .btn-sec:active {
    transition: 0.5s ease;
    opacity: 0.5;
  }

  .btn-link {
    width: 100%;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.039);
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    gap: 5px;
    transition: 0.5s ease;
    justify-content: space-between;

    .two {
      display: flex;
      flex-direction: row;
      span {
        padding: 15px;
      }
      img {
        border-radius: 10px;
        width: 52px;
        height: 52px;
      }
    }

    .md {
      font-size: 20px;
      padding: 15px;
      transform: rotate(-45deg);
    }
  }
  .btn-link:hover {
    transition: 0.5s ease;
    filter: brightness(1.1);
  }
  .btn-link:active {
    transition: 0.5s ease;
    opacity: 0.25;
    background: #fff;
  }

  .btn-back {
    padding: 10px 15px;
    width: 100%;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(255, 255, 255, 1);
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    gap: 10px;
    justify-content: center;
    transition: 0.5s ease;
    margin-top: 20px;
  }
  .btn-back:hover {
    transition: 0.5s ease;
    filter: brightness(1.1);
  }
  .btn-back:active {
    transition: 0.5s ease;
    opacity: 0.15;
  }
}

.link {
  width: 100%;
}
.footer {
  font-size: 12px;
  font-weight: 300;
}

a {
  color: #fff;
}
